<launch>
    <node pkg="robomaster_ep" type="robomaster_ep" name="robomaster_ep" output="screen">
    <!-- node parameters -->
    <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
    <param name="baud_rate" type="int" value="115200"/>

    <remap from="~joy" to="/joy"/>
    <remap from="~exp" to="/PositionCommand"/>
    </node>
</launch>
